- var textarea_placeholder = "N M\np1 q1\n...\npM qM"
.component
  .caption
    |Graph Input
  textarea.graph-input(placeholder=textarea_placeholder)

.component
  button.apply-button(type="button")
    |Draw Graph

.component
  label
    input.force-atlas(type="checkbox")
    |ForceAtlas2 Algorithm

hr

.component
  button.random-button(type="button")
    |Generate Random Graph

