- var textarea_placeholder = "N M\np1 q1\n...\npM qM"
textarea.graph-input(placeholder=textarea_placeholder)

button.apply-button(type="button")
  |Apply

label
  input.force-atlas(type="checkbox")
  |ForceAtlas2
