.component
  .tab-selector
    .tab-option.left.active(type="graph") Graph
    .tab-option.left(type="tree") Tree
    .tab-option.left(type="edges") Edges
    .clear
  textarea.graph-input

  button.apply-button(type="button")
    |Draw Graph

  label
    input.force-atlas(type="checkbox")
    |ForceAtlas2 Algorithm

  label
    input.is-directed(type="checkbox")
    |Directed Graph

.component
  button.random-button(type="button")
    |Generate Random Graph

.component
  button.clear-button(type="button")
    |Clear Input

