@input-color: #f7f7f7;
@background-color: #ddd;
@border-color: #222;
@button-color: #e3e3e3;
@border-noactive-color: #999;
@button-active-color: #f0f0f0;

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  float: both;
}

#body {
  width: 640px;
  margin: 5px auto;
  font-size: 12px;
  background-color: @background-color;
  height: 540px;
  padding: 10px;
  border-radius: 20px;
}

#title {
  font-size: 24px;
  padding-bottom: 5px;
}

div.graph {
  width: 75%;
  height: 480px;
}

div.graph-input {
  width: 25%;
  height: 480px;
}

.component {
  margin: 2px;
}

.tab-selector {
  .tab-option {
    width: 71px;
    text-align: center;
    background-color: @button-color ;
    color: #888;
    border: 2px @border-noactive-color solid;
    padding-top: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .tab-option.active {
    .tab-option;
    color: #000;
    border: 2px @border-color solid;
    background-color: @button-active-color;
    font-weight: bold;
  }
}


textarea.graph-input {
  font-size: 18px;
  width: 150px;
  height: 200px;
  resize: none;
  background-color: @input-color;
}

button {
  width: 150px;
  height: 24px;
  margin: 2px 0;
}

#graph-viewer {
  border: solid 1px #222;
  width: 98%;
  margin-right: 2%;
  height: 100%;
  background-color: @input-color;
}

#footer {
  font-size: 20px;
  width: 640px;
  margin: 0 auto;
  text-align: center;
}