.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  float: both;
}

#body {
  width: 640px;
  margin: 0 auto;
  font-size: 12px;
  background-color: #ddd;
  height: 600px;
  padding: 10px;
  border-radius: 20px;
}

#title {
  font-size: 24px;
  padding-bottom: 5px;
}

div.graph {
  width: 75%;
  height: 480px;
}

div.graph-input {
  width: 25%;
  height: 480px;
}

.component {
  margin: 2px;
}

textarea.graph-input {
  font-size: 18px;
  width: 150px;
  height: 200px;
  resize: none;
  background-color: #f7f7f7;
}

button {
  width: 150px;
  height: 24px;
  margin: 2px 0;
}

#graph-viewer {
  border: solid 1px #222;
  width: 98%;
  margin-right: 2%;
  height: 100%;
  background-color: #f7f7f7;
}
